/* style.css content */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.h1-funch {
    margin-left: -820px;
    justify-content: left;
}

.logo {
   /* Add spacing between logo and text */
    width: 10;
    height: 10;
  }

nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-section .image-container {
    display: flex;
}

.centered-section .image-container img {
    margin-right: 24px; /* Adjust the margin as needed for spacing */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px; /* Space between gallery and button */
    margin-top: 0;
}

.gallery img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/*
Button Hover
*/

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #9E2896;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #9E2896
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9E2896;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.talent-show-section {
    text-align: center;
    padding: 40px 20px 20px;  /* Reduced bottom padding */
    background: linear-gradient(135deg, #f76c6c, #6e54a3); /* Vibrant gradient background */
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 95%;  /* Adjusted width */
    margin: 40px auto;  /* Top and bottom margins (auto for center alignment) */
}



nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.video-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #current-video {
    width: 50%; /* Adjust size as needed */
  }
  
  #next-video-button {
    margin-left: 20px; /* Adjust spacing as needed */
  }

nav a:hover {
    background-color: #333;
}

.carousel {
    width: 100%;
    height: 56vh;
    overflow: hidden;
    position: relative; /* For navigation buttons */
}

.carousel-inner {
    display: flex;
    animation: slide 8s infinite ease-in-out; /* Animation for slideshow */
}

.carousel-inner img {
    width: 100%;
    height: 56vh;
    object-fit: cover; /* Ensure images fill the container */
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-75%); } /* Move each image to the left */
}

.carousel-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); /* Center buttons vertically */
    display: flex;
    justify-content: space-between;
    z-index: 1; /* Bring buttons over images */
}

.prev {
    left: 0; /* Position left button at the left edge */
}

.next {
    right: 0; /* Position right button at the right edge */
}

.carousel-nav button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.carousel-nav button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.table-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.team-search {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    text-align: left;
}

#points-table tr:nth-child(9){
    background: #ccffcc; /* light green */
    color: #000;

}

.calendar {
    padding: 20px;
    background-color: #fff;
}

.about-us {
    padding: 20px;
}


button {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    background: #f45242;
    transition: background 0.5s ease-in-out;
    border-radius: 12px;
    cursor: pointer;
  }
  
  button:hover {
    background: #ff9666;
  }
  
  input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-left: 18px;
    margin-bottom: 16px;
    margin-right: 8px;
  }

  .lookup-button {
    border: none;
    color: white;
    font-size: 16px;
    background: #f45242;
    transition: background 0.5s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
    padding: 14px 20px;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

.news-feed {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.glow-on-hover-gold {
    border: none;
    outline: none;
    color: #000;
    background: #ccffcc;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover-gold:before {
    content: '';
    background: linear-gradient(45deg, #ffd700, #ffc800, #ffb500, #ffa200, #ff9000, #ff8000, #ff6b00, #ff5900, #ff4600);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.glow-on-hover-gold:active {
    color: #ccffcc;
}

.glow-on-hover-gold:active:after {
    background: transparent;
}

#points-table:hover .glow-on-hover-gold:before {
    opacity: 1;
}

.glow-on-hover-gold:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccffcc;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*
Silver
*/

.glow-on-hover-silver {
    border: none;
    outline: none;
    color: #000;
    background: #ccffcc;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover-silver:before {
    content: '';
    background: linear-gradient(45deg, #bbbbbb, #b3b3b3, #ababab, #a3a3a3, #9b9b9b, #939393, #8b8b8b, #838383, #7b7b7b);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.glow-on-hover-silver:active {
    color: #ccffcc;
}

.glow-on-hover-silver:active:after {
    background: transparent;
}

#points-table:hover .glow-on-hover-silver:before {
    opacity: 1;
}

.glow-on-hover-silver:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccffcc;
    left: 0;
    top: 0;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow-on-hover-bronze {
    border: none;
    outline: none;
    color: #000;
    background: #ccffcc;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover-bronze:before {
    content: '';
    background: linear-gradient(45deg, #cd7f32, #c3702e, #b7602a, #aa5026, #9d4022, #90301e, #83201a, #761016, #690012);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.glow-on-hover-bronze:active {
    color: #ccffcc;
}

.glow-on-hover-bronze:active:after {
    background: transparent;
}

#points-table:hover .glow-on-hover-bronze:before {
    opacity: 1;
}

.glow-on-hover-bronze:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccffcc;
    left: 0;
    top: 0;
}

.no-underline {
    text-decoration: none;
    font-size: 16px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator hr {
    flex: 1;
    border: none;
    height: 1px; /* Adjust thickness as needed */
    background: linear-gradient(135deg, #8a8a8a, #545454); /* Gradient color */
    margin: 0; /* Remove default margin */
}

.separator span {
    margin: 0 15px; /* Adjust spacing around the text */
    white-space: nowrap;
}



